.container{
  border:2px solid grey;
  border-radius:5px;
  background-color:rgb(203, 199, 199);
  padding:20px;
  margin:30px;
}

.wrapping{
  border: 2px solid grey;
  border-radius:5px;
background-color: lightblue;
padding:20px;
}



img{
  display: block;
  margin:0 auto;
  padding:15px
}

