.wrapping{
  border:2px solid grey;
  border-radius:5px;
  background-color:rgb(203, 199, 199);
  padding:5px;
  margin:5px;
}

.App-header{
  border: 2px solid grey;
  border-radius: 5px;
  margin:20px;
  background-color: lightblue;
  width: 1202px;
  height: 600px;
}



img{
  display: block;
  margin:0 auto;
  padding:15px
}

