.Dictionary{
    color: grey;
}





  h3{
    text-transform: capitalize;
  }
   



.def{
    color:rgb(95, 91, 91);
    border: 1px solid grey;
    padding: 5px;
    margin: 10px;
    max-width: 600px;
}

strong{
    color:blueviolet;
}